
// Theme variables
$black: #000000;
$white: #ffffff;
$off-white: #fefefe;
$eggshell: #fef9e3;

$dark-turquoise: #23595a;
$medium-turquoise: #1e5451;
$medium-gray-blue: #93ACA0;
$light-gray-blue: #D0D7C5;

$dark-coral: #fc906d;
$medium-coral: #c68369;
$light-coral: #fedcd1;

$theme-colors: (
  'primary': $dark-turquoise,
  'secondary': $dark-coral,
);

// global styles
.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

a {
  color: $dark-turquoise;
  text-decoration: none;
  &:hover {
    color: $medium-gray-blue;
  }
}

p {
  color: $dark-turquoise;
  font-size: 18px;
  line-height: 26px;
}

// all section styles
.section-container {
  min-height: 400px;
  padding: 50px 15%;
  h3 {
    padding-bottom: 6px;
    text-transform: uppercase;
    color: $medium-turquoise;
  }
  .section-shell-img {
    width: 40px;
    height: auto;
    padding-bottom: 22px;
  }
}

// header
.header-container {
  padding: 20px;
  .header-link {
    cursor: pointer;
    color: $dark-turquoise;
    text-decoration: none;
    &:hover {
      color: $medium-gray-blue;
      text-decoration: underline;
    }
  }
  .logo-wrap {
    // position: absolute;
    // width: 95px;
    // margin-right: 50px;
    .circle-logo-background {
      display: none;
      // background-color: $eggshell;
      // display: inline-block;
      // width: 95px;
      // height: 95px;
      // position: relative;
      // top: -10px;
      // border-radius: 50%;
    }
    .header-logo {
      width: 85px;
      height: auto;
      // position: relative;
      // top: -110px;
    }
  }
}

// footer
.footer-container {
  min-height: 120px;
  padding: 18px;
  background-color: $medium-coral;
  color: $eggshell;
  .social-wrapper {
    text-align: center;
    .social-media-icon {
      height: 30px;
      width: 30px;
      margin: 10px;
      cursor: pointer;
      fill: $eggshell;
      stroke: $eggshell;
      &:hover {
        fill: $medium-gray-blue;
        stroke: $medium-gray-blue;
      }
    }
  }
}

// hero
.hero-container {
  background-image: url("../images/gallery/hero_1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  .hero-text {
    position: relative;
    top: 35%;
    background-color: rgb(251, 251, 228, .9);
    border-radius: 2px;
    text-transform: capitalize;
    margin: 0 25% 0 25%;
    padding: 8px;
    font-weight: 500;
    font-size: 28px;
    font-style: italic;
    color: $dark-coral;
  }
}

// about
#section-about {
  p {
    padding-bottom: 1.5rem;
  }
}

// menu
#section-menu {
  background-color: $light-gray-blue;
  .menu-content {
    padding: 12px;
    background-color: $off-white;
    border-radius: 2px;
    .menu-icon {
      position: relative;
      top: -4px;
      height: 22px;
      width: auto;
      padding-right: 8px;
    }
    .menu-name {
      font-size: 22px;
    }
  }
}

// order form
// #section-order {}

// gallery
#section-gallery {
  background-color: $light-gray-blue;
}

@import '~bootstrap/scss/bootstrap';
